In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('dataset.csv')

data

In [ ]:
print(data.columns)

In [ ]:
front_cols = [
    'Gender', 'Married', 'ApplicantIncome', 'LoanAmount', 'Credit_History', 'Loan_Status'
]

check_cols = [True if col in data.columns else False for col in front_cols]

if all(check_cols):
    print('OK')
else:
    print('NOT')

In [ ]:
new_data = data[front_cols]

new_data

In [ ]:
new_data.isnull().mean() * 100

In [ ]:
new_data['Gender'].fillna(value=np.random.choice(new_data['Gender']), inplace=True)

In [ ]:
new_data['Married'].fillna(value=np.random.choice(new_data['Married']), inplace=True)

In [ ]:
new_data['LoanAmount'].fillna(value=new_data['LoanAmount'].mean(), inplace=True)

In [ ]:
new_data['Credit_History'].fillna(value=np.random.choice(new_data['Credit_History']), inplace=True)

In [ ]:
new_data.isnull().mean() * 100

In [ ]:
new_data

In [ ]:
new_data['Gender'] = new_data['Gender'].apply(
    lambda x: 1 if x == 'Male' else 0
)

new_data

In [ ]:
new_data['Married'] = new_data['Married'].apply(
    lambda x: 1 if x == 'Yes' else 0
)

new_data

In [ ]:
new_data['Loan_Status'] = new_data['Loan_Status'].apply(
    lambda x: 1 if x == 'Y' else 0
)

new_data

In [69]:
new_data

     Gender  Married  ApplicantIncome  LoanAmount  Credit_History  Loan_Status
0         1        0             5849  146.412162             1.0            1
1         1        0             4583  128.000000             1.0            0
2         1        0             3000   66.000000             1.0            1
3         1        0             2583  120.000000             1.0            1
4         1        0             6000  141.000000             1.0            1
..      ...      ...              ...         ...             ...          ...
609       0        0             2900   71.000000             1.0            1
610       1        0             4106   40.000000             1.0            1
611       1        0             8072  253.000000             1.0            1
612       1        0             7583  187.000000             1.0            1
613       0        0             4583  133.000000             0.0            0

[614 rows x 6 columns]

In [68]:
new_data.to_csv('final_data.csv', index=False)